
body{
    font-family: 'Lato', sans-serif;

}

nav {
    background-color: black;
    color: white;
    padding: 0px 50px;
  }

  .navTop {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .searchInput {
    border: none;
    background-color: transparent;
  }

  .searchInput::placeholder {
    color: lightgray;
  }


.navbottom{
    align-items: center;
    background-color:dimgrey; 
}

.main_menutab{
  text-align: center;
  box-shadow: none;
  text-decoration: none;
}

.main_menu{
  display: inline-flex;
  list-style: none;
}
.main_menu_list
{
    width: 160px;
    margin: 0px;
    padding: 0px 2px;
}
.menu_item
{
text-decoration: none;
color: lightcoral;
}
.menu_item:hover
{
  background-color:floralwhite;
  border-radius: 2px;
  padding: 2px 3px;
}
.main_menutab .fa
{
  margin-right: 5px;
} 
.fa-angle-down
{
  margin-left: 5px;
}
.sub-menu{
  display: none;
}
.main_menutab ul li:hover .sub-menu
{
  display: block;
  position: absolute;
  text-align: center;
  background-color: dimgrey;
  margin: 10px;
}

.main_menutab ul li:hover .sub-menu li{
  width: 120px;
  display: flex;
  padding: 15px;
  border-bottom: 1px dotted #f08080;
  background: transparent;
  border-radius: 0px;
  text-align: left;
  margin-right: 10px;
  }

  .main_menutab ul li:hover .sub-menu li:last-child{
    border-bottom: none;
  }

  .main_menutab ul li:hover .sub-menu li a{
  text-decoration: none;
  color: #f08080;
  }

