
body{
  font-family: 'Lato', sans-serif;

}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
}

.nvbottom{
  align-items: center;
  display: flex;
  justify-content: center;
}

.menulist{
  display: flex;
  margin-right: 60px;
  color: lightcoral;
  cursor: pointer;
  font-weight: 500;
}

.section-title{
text-align: center;
}

.shopcontent{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(220px,auto));
gap: 1.5rem;
}

.product{
position:relative;
}

.my-popup{

position:absolute;
top:-150%;
left: 50%;
opacity: 0;
transform: translate(-50%,-50%) scale(1.25);
width: 380px;
padding: 20px 30px;
background: gray;
box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
border-radius: 10px;
transition: top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 20ms ease-in-out 0ms;
}

.my-popup.active{
top: 50%;
opacity: 1;
transform: translate(-50%,-50%) scale(1);
transition: top 0ms ease-in-out 0ms,
            opacity 200ms ease-in-out 0ms,
            transform 20ms ease-in-out 0ms;
}

.my-popup .close-btn{
position: absolute;
top: 10px;
right: 10px;
width: 15px;
height: 15px;
background: white;
color:black;
text-align: center;
line-height: 15px;
border-radius: 15px;
cursor: pointer;
}

.my-popup .form h2{
text-align: center;
color: #222;
margin: 10px 0px 20px;
font-size: 25px;
}

.my-popup .form .form-element{
margin: 15px 0px;
}

.my-popup .form .form-element label{
font-size: 14px;
color: #222;
}

.my-popup .form .form-element input[type="text"]{
margin-top: 5px;
display: block;
width: 100%;
padding: 10px;
outline: none;
border: 1px solid #aaa;
border-radius: 5px;
}

.my-popup .form .form-element button {
text-align: center;
width: 50%;
height: 40px;
border: none;
outline: none;
font-size: 16px;
background: #222;
color: #f5f5f5;
border-radius: 10px;
cursor: pointer;

}