body{
    font-family: 'Lato', sans-serif;

}

.nvbottom{
    align-items: center;
    display: flex;
    justify-content: center;
}

.menulist{
    display: flex;
    margin-right: 60px;
    color: lightcoral;
    cursor: pointer;
    font-weight: 500;
}